{% style %}

  .header {
    background: var(--main-orange);
    grid-template-areas: "logo nav icons";
    grid-template-columns: auto 1fr auto;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    height: 8.2rem;
    padding: 0 2rem;
    display: grid;
  }
  .header_logo {
    color: var(--main-white);
    font-size: 2.8rem;
    grid-area: logo;
    letter-spacing: -0.4rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav > a,
  .header_icons > a {
    color: var(--main-white);
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
  }

  .nav {
    display: grid;
    grid-template-areas: '. . . . .';
    grid-area: nav;
    text-align: center;
    margin: 0 auto;
    gap: 4rem;
  }
  .nav > a:hover {
    text-decoration: underline;
  }
  .header_icons {
    align-items: center;
    grid-area: icons;
    display: flex;
  }
  .header_icons > a:not(:last-child) {
    margin-right: 1rem;
  }
  .header_icons > a:not(:first-child) {
    font-size: 2rem;
  }
{% endstyle %}
<div class="header">

  <a href="/" class="header_logo">{{ shop.name }}</a>

  <div class="nav">
    {% for link in linklists.main-menu.links %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
  </div>

  <div class="header_icons">
    <a href="/">GB|EN</a>
    <a href="/">S</a>
    <a href="/">&hearts;</a>
    <a href="/">H</a>
    <a href="/">B</a>
  </div>

</div>