{% style %}

  .shipping__p {
    border: 1px solid var(--sixth-grey);
    background-color: var(--sixth-grey);
    width: max-content;
    border-radius: 5px;
    padding: 0.2rem 1rem;
    margin: 2rem 0 4rem 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .shipping__highlight {
    color: var(--main-orange);
    font-weight: 600;
  }
{% endstyle %}

<p class="shipping__p">spend over £99.00 for
  <span class="shipping__highlight">free delivery</span>
</p>