<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {{ 'carousel.js' | asset_url | script_tag }}
    {% render 'header' %}
    {% section 'breadcrumbs' %}
    {{ content_for_layout }}
    {% render 'footer' %}
  </body>
</html>