{% style %}
  .buttons-wrapper{
    display: flex;
  }
{% endstyle %}
<div class="buttons-wrapper">
  <button class="buttons-minus">-</button>
  <button class="buttons-add">+</button>
  <p class="current-quantity"></p>
  <button class="add-to-basket">add to basket</button>
  <button class="favourite">&hearts;</button>
</div>