{% style %}
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  img {
    height: 500px;
  }
{% endstyle %}


<div class="wrapper">
  <h2>{{ product.title }}</h2>

  <div>
    <img src="{{ product | image_url }}" />

    <h2>{{ product.price | money }}</h2>
    {{ product.description }}
  </div>
</div>

{% schema %}
  {
    "name": "Volume",
    "tag": "section",
    "class": "volume",
    "settings": [
      {
        "type": "text",
        "id": "volume",
        "label": "Volume"
      }
    ]
  }
{% endschema %}