{% style %}

  .wrapper {
    width: 1000px;
    margin: auto;
    display: flex;
  }
  span {
    text-align: center;
    padding: 0 20px;
  }
  h2 {
    width: 350px;
  }
  img {
    height: 500px;
  }
{% endstyle %}


<div class="wrapper">
  <span>
    <h2>{{ product.title }}</h2>
    <img src="{{ product | image_url }}" />
    <h2>{{ product.price | money }}</h2>
  </span>

  {{ product.description }}

</div>