.dropdown__wrapper {
  margin: 3rem 0;
}
.dropdown__summary {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  transition: 0.2s;
}

.dropdown__svg {
  height: 0.8rem;
  transition: transform 0.2s ease-in-out;
  width: 1.2rem;
  height: 1.2rem;
}

.dropdown__summary:hover {
  background-color: var(--third-orange);
}

.dropdown__details:not(:last-child) {
  border-bottom: 0.1rem var(--third-grey) solid;
}

.dropdown__details[open] summary svg {
  transform: rotate(180deg);
}
details p {
  padding: 2rem;
  font-size: 1.4rem;
}
.dropdown__wrapper ul {
  padding: 2rem;
  font-size: 1.4rem;
  list-style: outside disc;
}
.dropdown__wrapper li {
  margin-left: 2rem;
}
