.footer-wrapper {
  height: 20rem;
  padding-top: 3rem;
  /* position: absolute; */
  /* bottom: -30rem; */
  margin-top: auto;
  width: 100%;
  display: flex;
  background-color: burlywood;
  /* color: white; */
}

.footer-links {
  padding-right: 4rem;
}

ul > li > a {
  font-family: var(--second-font);
  font-size: 2rem;
}
