.footer-wrapper {
  padding: 10rem 8rem;
  margin-top: auto;
  width: 100%;
  background-color: var(--main-title);
}
.footer-wrapper section {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: auto;
}

.footer-links-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
}
.footer-main-menu {
  justify-content: space-between;
}
.footer-links > h3 {
  color: white;
  text-transform: uppercase;
  font-family: var(--second-font);
  padding-bottom: 1rem;
}
.footer-main-menu > li > a {
  font-size: 2.2rem;
  color: var(--main-white);
  line-height: 2;
  font-weight: 600;
}

ul > li > a {
  text-decoration: none;
  color: var(--second-grey);
  font-family: var(--second-font);
  font-size: 1.4rem;
  line-height: 2.5;
}
ul > li > a:hover {
  color: var(--main-white);
}
.footer-social-icons {
  display: flex;
  justify-content: space-between;
}
.footer-social-icons > svg {
  height: 3.5rem;
  width: 3.5rem;
  fill: var(--second-grey);
}
.footer-social-icons > svg:hover {
  fill: var(--main-white);
  cursor: pointer;
}
.footer-bottom {
  background-color: var(--second-accent);
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-bottom a {
  color: var(--third-grey);
  font-size: 1.2rem;
}

.footer-bottom a:hover {
  text-decoration: underline;
}
.footer-bottom span {
  width: var(--max-width);
  display:flex;
  justify-content: space-between;
}
