.header {
  background-color: var(--main-orange);
  display: flex;
  justify-content: space-between;
  color: var(--main-white);
}
* {
  background-color: transparent;
}
/* p {
  text-transform: uppercase;
}
a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  padding-right: 2rem;
} */
