.main-product__wrapper {
  max-width: 100rem;
  margin: 0 auto;
  font-size: 1.4rem;
}
.main-product__titles {
  width: 100%;
  margin-top: 8rem;
}
.main-product__title {
  color: var(--main-title);
  text-transform: uppercase;
  font-size: 9rem;
  line-height: 0.8;
  letter-spacing: -0.4rem;
  text-align: center;
}
.main-product__subtitle {
  text-transform: uppercase;
  font-family: var(--second-font);
  text-align: center;
  padding-top: 3rem;
}
.main-product__volumes {
  font-size: 1.2rem;
  font-family: var(--second-font);
  color: var(--main-font);
}
.main-product__body {
  padding: 10rem 0;
  max-width: 110rem;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}
.main-product__text {
  display: inherit;
  flex-direction: column;
  width: 50%;
  padding-top: 3rem;
}
.main-product__title::before {
  height: 30rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: var(--second-orange);
}
.main-product__price > h2 {
  font-size: 6rem;
  font-weight: 700;
  font-family: var(--second-font);
  color: var(--main-font);
  padding-right: 1.5rem;
}
.main-product__dropdown {
  margin: 3rem 0;
}
img {
  height: 750px;
  margin: 0 auto;
}

.main-product__price {
  display: flex;
  align-items: baseline;
}

@media only screen and (max-width: 990px) {
  .main-product__title {
    font-size: 5.2rem;
  }
  .main-product__title::before {
    height: 20rem;
  }
  .main-product__subtitle {
    font-size: 0.5rem;
    padding-bottom: 3rem;
  }
  .main-product__titles {
    margin: 0;
  }
  .main-product__body {
    display: block;
    width: 100%;
    padding: 0 3rem;
    font-size: 1rem;
  }
  .main-product__text {
    width: 100%;
  }
}
