.main-product__wrapper {
  max-width: 100rem;
  margin: 0 auto;
  font-size: 1.4rem;
}
.titles {
  width: 100%;
  margin-top: 8rem;
}
.main-product__title {
  color: var(--main-title);
  text-transform: uppercase;
  font-size: 9rem;
  line-height: 0.8;
  letter-spacing: -0.4rem;
  text-align: center;
}
.main-product__subtitle {
  text-transform: uppercase;
  font-family: var(--second-font);
  text-align: center;
  padding-top: 3rem;
}
.main-product__body {
  padding-top: 10rem;
  max-width: 95rem;
  margin: 0 auto;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  gap: 10rem;
}
.main-product__body > span {
  display: inherit;
  flex-direction: column;
  width: 50%;
}
.main-product__title::before {
  height: 30rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: var(--main-accent);
}
.main-product__price {
  font-size: 4rem;
  font-weight: 700;
}
button {
  font-size: 3rem;
  border: 0.2rem var(--main-orange) solid;
  align-items: center;
}
.main-product__buttons {
  display: flex;
  flex-direction: row;
}

.main-product__buttons > button,
.main-product__buttons > p {
  text-transform: uppercase;
}
.main-product__buttons-minus,
.main-product__buttons-add,
.main-product__favourite {
  padding: 0 0.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
}
.main-product__quantity {
  color: black;
  border: none;
}
.main-product__basket {
  font-size: 1.2rem;
  border-radius: 2rem;
  margin: 0 0.8rem;
  font-weight: 600;
  color: var(--main-white);
  background-color: var(--main-orange);
}
button.main-product__basket {
  color: black;
}
.main-product__buttons-minus:disabled {
  color: #000;
}
img {
  height: 750px;
}
