/* @font-face {
  font-family: "Baskerville No 2";
  src: url("{{ 'baskerville_no_2_n4' | asset_url }}") format("WOFF");
} */
:root {
  --main-orange: #ff7500;
  --second-orange: #fff1e6;
  --third-orange: #ffe3cc;
  --main-font: #444444;
  --main-white: #ffffff;
  --main-title: #101828;
  --main-accent: #fff1e6;
  --second-grey: #98a2b3;
  --third-grey: #a5a5a5;
  --fourth-grey: #898989;
  --fifth-grey: #eeeeee;
  --sixth-grey: #e6ede9;
  --seventh-grey:#e6eaf3;
  --second-accent: #1d2939;
  --main-font: "Times New Roman", Times, serif;
  --second-font: "Montserrat", sans-serif;
  --max-width: 120rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-white);
  color: var(--main-font);
  background-color: transparent;
  text-decoration: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar {
  display: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  overflow-wrap: break-word;
  color: var(--main-title);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Times New Roman", Times, serif;
  color: var(--main-title);
}

ul {
  list-style-type: none;
}

#root,
#__next {
  isolation: isolate;
}
