{% style %}
  .wrapper__list {
    width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5.5rem 2.5rem;
    padding: 5rem;
    margin: 0 auto;
  }
  .collection__wrapper::before {
    height: 30rem;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: var(--seventh-grey);
  }
  img {
    height: 180px;
  }
  .collection__title{
    color: var(--main-title);
    text-transform: uppercase;
    font-size: 9rem;
    line-height: 0.8;
    letter-spacing: -0.4rem;
    text-align: center;
    margin-bottom: 6rem;
    margin-top: 8rem;
  }
{% endstyle %}

<div class="collection__wrapper">

  <h2 class="collection__title">THE GLENMORANGIE SHOP</h2>
  <ul class="wrapper__list">
    {% for product in products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </ul>
</div>